streamlit
python-dotenv
chromadb==1.5.9
llama-index==0.14.21
llama-index-llms-openai
llama-index-embeddings-openai
llama-index-vector-stores-chroma
openai
pysqlite3-binary
protobuf==3.20.3
opentelemetry-exporter-otlp-proto-grpc==1.11.1
opentelemetry-proto==1.11.1
sentence-transformers
llama-index-embeddings-huggingface